/*
	Locus by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Header */

	#header > header {
		padding: 13em 0 3em 0;
	}

#spacer {
    visibility: hidden;
    display: none;
}